@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-color: #000;
  --background-color: #f8f4f1;
  --accent-color: #b4270d;
  --bubble-color: rgba(185, 185, 185, 0.3);
  --container-color: var(--background-color);
  /* --container-color: rgba(255, 255, 255, 0.5); */
  --container-hover-color: #fff;
}

html, body {
  font-weight: 400;
  font-family: 'Inter';
  color: var(--main-color);
}

h1 {
  font-weight: 700;
  /* color: var(--accent-color); */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--accent-color);
  margin: 0rem 0.5rem;
  padding: 0;
}
